# Compiled Object files
*.slo
*.lo
*.o
#*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out

# Mac executables (they don't have a .app extension anymore)
RaZ_DeferredDemo
RaZ_FullDemo
RaZ_MinDemo
RaZ_PhysicsDemo
RaZ_ShowcaseDemo
RaZ_SoundDemo
RaZ_Tests

# Build folders
*build*/

# CLion folder
.idea/

# MacOS specific files
.DS_Store
